.mamage-user-container{
  .user-content{
    .btn-add-new{
      button{
            background: linear-gradient(135deg, #493B8E, #F50067);
            color: white;
            border: none;
            border-radius: 8px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            padding: 0.5rem 1rem;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        &:hover{
          background: linear-gradient(135deg, #F50067, #493B8E);
          transform: translateY(-2px);
        }
      }
      border: none;
      padding: 0.5rem 1rem;
    }
  }
  .title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 10px;
  }
}

.modal-add-user {
  .img-preview {
    position: relative;
    // border: 2px dashed #d9534f;
    height: 150px;
    border-radius: 8px;
    background-color: #fffdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;

    span {
      position: absolute;
      color: #999;
      font-size: 1rem;
      z-index: 1;
      text-align: center;
      pointer-events: none;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 5px;
      z-index: 2;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s ease;
    }

    &:hover {
      border-color: #c9302c;
      background-color: #fff5f5;

      img {
        transform: scale(1.02);
      }
    }
  }

  .label-file{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    color: #007bff;
    font-weight: 600;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: #0056b3;
    }
  }
}
