.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }
}

.admin-content {
    // padding: 2rem;
    width: 100%;
    // background-color: #f9f7fc;
    .admin-header {
        height: 40px;
        border: 1px solid gold;
    }
    // .admin-main{
    //     border: 1px solid gold;
    // }
}